{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "useTabs": false,
    "bracketSameLine": false,
    "embeddedLanguageFormatting": "auto"
}
